
.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 400px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.login-terms{
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}





























