* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.home {
  background-color: #eaeded;
}

.home .container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.home-img {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home .product-info {
  z-index: 1;
  background-color: white;
  transition: 0.3s all;
}

.home .product-info:hover {
  background-color: #131921 !important;
  color: white;
  transform: 0.3s;
}

.home .product-info:hover .product-img {
  transform: scale(1.1);
}

.home .product-info p {
  font-size: 12px;
}

.product-img {
  width: 180px;
  margin: 30px auto;
  transition: transform 0.3s ease;
}

.product-btn {
  font-size: 14px;
  font-weight: 500;
  background-color: #cd9042;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 6px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.quantity-btn{
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
